@(message: String)

@main("Welcome to Play") {
    @message

    <form action="@routes.Application.addFood()" method="post">
        <p>
            <label for="name">Name</label><input name="name" id="name" type="text">
        </p>
        <p>
            <label for="calories">Calories</label><input name="calories" id="calories" type="text">
        </p>
        <p>
            <label for="proteins">Proteins</label><input name="proteins" id="proteins" type="text">
        </p>
        <p>
            <label for="carbohydrates">Carbohydrates</label><input name="carbohydrates" id="carbohydrates" type="text">
        </p>
        <p>
            <label for="lipids">Lipids</label><input name="lipids" id="lipids" type="text">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

}
